<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="../static/app/w3.js"></script>
    <link href="../static/app/home.css" type="text/css" rel="stylesheet">
    <script src="../static/app/home.js"></script>
    <meta charset="UTF-8">
    <title>Helping Hand</title>
</head>
<body>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class="logo" src="/app/static/app/helpinghandlogoSmall4.png" alt="Logo">  </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="">Home</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Gatherings<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Your gatherings</a>
                                </li>
                                <li><a href="https://donationserver.herokuapp.com/gathering/">Create gathering</a></li>
                            </ul>
                        </li>
                        <li><a href="#">My foundation</a></li>
                        <li><a href="https://donationserver.herokuapp.com/donateothers/">Donate others</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown"
                                                 role="button" aria-haspopup="true" aria-expanded="false">Signed in as
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://donationserver.herokuapp.com/pass/">Change Password</a></li>
                                <li><a href="#">My Profile</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="https://donationserver.herokuapp.com/logout/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<br>
<br>
<br>
<div class="main-container">
    <div class="col-sm-12  col-md-11 welcome box ">
        <h3>Welcome to Helping Hand</h3>

        <p> Our service is free to use Bitcoin donation platform.</p>
        <p> If you're looking for unique source of crowdfunding for your project or foundation
            we a just for you!
            Helping hand is based on payments by cryptocurrency Bitcoin, which give a chance to finance your
            ideas with money independent of inflation and governments. To find out more check our subpages.
        </p>
      <label>Your wallet address: {{ addrr }}</label>
      <br>
      <label>Your wallet balance: {{ balance }}</label>
    </div>

    <article class="col-sm-12 col-md-5 box ">
        <h4> What would you like to do: </h4>
        <hr>
        <a href="https://donationserver.herokuapp.com/gathering/"> Create new gathering</a>
        <hr>
        <a href="https://donationserver.herokuapp.com/donateothers/"> Browse donations</a>
        <hr>
        <a onclick="w3.toggleShow('.contactForm')"> Contact us</a>
        <div class="contactForm">
            <form action="#">
                <label for="fname">Your name</label>
                <input type="text" id="fname" name="name" placeholder="Name">

                <label for="fsubject">Subject</label>
                <select id="fsubject" name="recipients">
                    <option value="all">General</option>
                    <option value="single">Security</option>
                    <option value="single">Bugs</option>
                    <option value="single">Other</option>
                </select>

                <label for="femail">Your email</label>
                <input type="text" id="femail" name="email" placeholder="ex@example.com">

                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Send">
            </form>
        </div>

    </article>


    <aside class="col-sm-12 col-md-5 search_bar box">
        <table id="random_gatherings" class="table">
            <h4>Subscribed gatherings </h4>
            <thead class="thead-inverse">
            <th onclick="w3.sortHTML('#search_gatherings','.item', 'td:nth-child(1)')">End date <i class="glyphicon glyphicon-sort"></i> </th>
            <th onclick="w3.sortHTML('#search_gatherings','.item', 'td:nth-child(2)')">Title <i class="glyphicon glyphicon-sort"></i> </th>
            <th onclick="w3.sortHTML('#search_gatherings','.item', 'td:nth-child(3)')">Actual <i class="glyphicon glyphicon-sort"></i> </th>
            <th>Progress</th>
            </thead>
            <tbody id="tableBody">
            {% for gather in random_gatherings %}
                  <tr>
                     <td>{{ gather.end_date }}</td>
                     <td>{{ gather.title }}</td>
                     <td>{{ gather.money_actual }} PLN</td>
                     <td>
                          <div class="progress progress-striped">
                              <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ gather.percentage }}%"
                                   aria-valuemin="0"
                                   aria-valuemax="100">{{ gather.percentage }}%</div>
                          </div>
                      </td>
                  </tr>
              {% endfor %}
            </tbody>
        </table>

    </aside>


    <article class="col-sm-12 col-md-11 box">
        <h4> Useful infos: </h4>
        <ul class="useful-info">
            <li>About cryptocurrencies<a href="https://blockgeeks.com/guides/what-is-cryptocurrency/"> blockgeeks cryptocurrency guide</a> <a href="https://www.weusecoins.com/"> quick start</a> <a href="https://coinranking.com/"> coin ranking</a> <a href="https://www.investopedia.com/articles/forex/091013/future-cryptocurrency.asp"> cryptocurrency future</a></li>
            <li>Bitcoin <a href="https://bitcoin.org/"> official bitcoin page</a> <a href="https://www.cryptocompare.com/coins/btc/overview/EUR"> value charts</a></li>
            <li>Transactions <a href="https://blockchain.info/pl"> blockchain </a></li>
            <li>Security <a href="http://bitcoinsecurity101.com/getting-started/"> security in bitcoin payments </a> <a href="https://www.coindesk.com/tips-keep-bitcoins-secure/"> secure your wallet </a></li>

        </ul>
    </article>
</div>

<footer class="footer-distributed">

    <div class="row">
        <div class="col-md-4 footer-col">
                <img src="../static/app/helpinghands_logo2.png" alt="logo"/>
                <p class="company">Ⓒ helpinghandcompany </p>
        </div>
        <div class="col-md-4 footer-col">
            <p>More about us</p>
            <ul>
                <li> <a href="www.facebook.com"> Facebook </a> </li>
                <li> <a href="https://github.com/RegenJ/Donation-Aplication"> Github </a> </li>

            </ul>
        </div>
        <div class="col-md-4 footer-col">
            <p>Contact</p>
            <ul>
                <li> <a href="#"> helpinghand@hh.com </a>  </li>

            </ul>
        </div>


    </div>

</footer>

</body>
</html>