<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="../static/app/home.css" type="text/css" rel="stylesheet">
    <script src="../static/app/home.js"></script>
    <meta charset="UTF-8">
    <title>Helping Hand</title>
</head>
<body>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Helping Hand</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="">Home</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Gatherings<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Your gatherings</a>
                                </li>
                                <li><a href="https://donationserver.herokuapp.com/gathering/">Create gathering</a></li>
                            </ul>
                        </li>
                        <li><a href="#">My foundation</a></li>
                        <li><a href="#">Donate others</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown"
                                                 role="button" aria-haspopup="true" aria-expanded="false">Signed in as
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://donationserver.herokuapp.com/pass/">Change Password</a></li>
                                <li><a href="#">My Profile</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="https://donationserver.herokuapp.com/logout/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<br>
<br>
<br>
<div class="main-container">

<article class="col-sm-12  box ">
    <h3> Welcome to Helping Hand! </h3>
    <p> Choose what you want to do or...</p>
    <p> Donate somebody: </p>
</article>
<table id="random_gatherings" class="table">
    <thead class="thead-inverse">
    <th onclick="w3.sortHTML('#random_gatherings','.item', 'td:nth-child(1)')">Start date <i class="glyphicon glyphicon-sort"></i></th>
    <th onclick="w3.sortHTML('#random_gatherings','.item', 'td:nth-child(2)')">End date <i class="glyphicon glyphicon-sort"></i></th>
    <th onclick="w3.sortHTML('#random_gatherings','.item', 'td:nth-child(3)')">Owner <i class="glyphicon glyphicon-sort"></i></th>
    <th onclick="w3.sortHTML('#random_gatherings','.item', 'td:nth-child(4)')">Title <i class="glyphicon glyphicon-sort"></i></th>
    <th onclick="w3.sortHTML('#random_gatherings','.item', 'td:nth-child(5)')">Target <i class="glyphicon glyphicon-sort"></i></th>
    <th onclick="w3.sortHTML('#random_gatherings','.item', 'td:nth-child(6)')">Actual <i class="glyphicon glyphicon-sort"></i></th>
    <th>Progress</th>
    </thead>
    <tbody>
    {% for gather in random_gatherings %}
        <tr>
            <td>{{ gather.start_date }}</td>
            <td>{{ gather.end_date }}</td>
            <td>{{ gather.owner }}</td>
            <td>{{ gather.title }}</td>
            <td>{{ gather.money_target }} PLN</td>
            <td>{{ gather.money_actual }} PLN</td>
            <td>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ gather.percentage }}%"
                         aria-valuemin="0"
                         aria-valuemax="100">{{ gather.percentage }}%</div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>