<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="/app/static/app/home.css" type="text/css" rel="stylesheet">
    <script src="/app/static/app/home.js"></script>
    <script src="/app/static/app/paybtc.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Helping Hand</title>
</head>
<body>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class="logo" src="/app/static/app/helpinghandlogoSmall4.png"
                                                          alt="Logo"> </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="">Home</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Gatherings<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Your gatherings</a>
                                </li>
                                <li><a href="https://donationserver.herokuapp.com/gathering/">Create gathering</a></li>
                            </ul>
                        </li>
                        <li><a href="#">My foundation</a></li>
                        <li><a href="https://donationserver.herokuapp.com/donateothers/">Donate others</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown"
                                                 role="button" aria-haspopup="true" aria-expanded="false">Signed in as
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://donationserver.herokuapp.com/pass/">Change Password</a></li>
                                <li><a href="#">My Profile</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="https://donationserver.herokuapp.com/logout/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="text-center" style="margin-left: 150px; margin-right: 150px">
    <div class="form-group">
        <label for="comment">Your wallet id:</label>
        <textarea name="sender" class="form-control" rows="1" id="sender"></textarea>
    </div>

    <div class="form-group">
        <label for="comment">Amount BTC:</label>
        <textarea name="amount" class="form-control" rows="1" id="amount"></textarea>
    </div>

    <div class="form-group">
        <label for="comment">Transaction fee (BTC):</label>
        <textarea name="fee" class="form-control" rows="1" id="fee"></textarea>
    </div>

    <input name="hidden_id" type="hidden" value="{{ id }}" id="hidden_id">

    <h2>
        <button type="submit" class="btn btn-success btn-lg" onclick="combineAndSendForms()">Send BTC
        </button>
    </h2>
</div>
</body>
</html>